

.announcement-subpage-container{
    margin: auto;
    display: grid;
    justify-content: center;
}

.announcement-subpage-card{
    background-color: #FFFFFF1A;
    padding: 1.59vw 2.75vw 2.75vw 2.01vw;
    border-radius: 0.28vw;
    display: flex;
    width: 54.4vw;
    height: 102.87vw;
    flex-direction: column;
    position: relative;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.023vw;
    margin:  7.4vw 0px 3.53vw 0px;
    border-radius: 0.28vw;
    
}

.announcement-subpage-label{
    position: absolute;
    color: #ffff;
    background-color: #5A7634;
    border-radius: 1vw 1vw 0px 1vw;
    padding: 0.45vw 1.76vw 0.2vw 1.76vw;
    top: -0.78vw;
    font-size:  0.92vw;
    letter-spacing: 0.024vw;
    left: 79.8%;
}

.announcement-subpage-title p{
    margin: 0px 0px 0px 1.76vw;
    line-height: 1.76vw;
}

.announcement-subpage-title p:nth-child(1){
    font-size: 1.41vw;
}

.announcement-subpage-title p:nth-child(2){
    font-size: 0.95vw;
    font-weight: 700;
    letter-spacing: 0.05vw;
    color: #597433;
    margin-bottom: 0.92vw;
}

.announcement-arrow-back{
    position: absolute;
    color: #587232;
    left: 0.49vw;
    top: 1.76vw;
}

.announcement-subpage-image img{
    position: relative;
    width: 59.1vw;
    height: 33.59vw;
    left: -1.98vw;

}

.announcement-subpage-white-container-bg{
    position: relative; 
    background-color: #ffff;
    position: relative;
    left: -1.98vw;
    top: -2.4vw;
    width: 59.1vw;
}

.announcement-subpage-white-container-bg p{
     padding: 0.99vw 3.035vw;
     color: #000000;
     font-size: 0.71vw;
     font-weight: 600;
}

.announcement-text-content{
    padding: 0vw 0px 0px 1.27vw;
}

.announcement-text-content p{
    font-size: 0.96vw;
    font-weight: lighter;
    margin-bottom: 1.48vw;
    color: #E0E0E0;
    
}

.subpage-related {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }
  
  .related-box {
    background-color: #1A1A1A;
    width: 38.59vw;
    height: 23.07vw;
    margin: 1.76vw 1.76vw 4.23vw 1.76vw;
  
  }

  .image-filter {
    background-color: #000000;
    width: 38.65vw;
    height: 16.72vw;
    margin: 1.76vw;
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0.15;
  }

  .related-box:nth-child(2) {
    background-image: url('../../../../assets/Photos/announcements/3.png');
    background-repeat: no-repeat;
    background-size: 45.16vw;
    background-position: 70% 90%; 
    
  }

  .announcement-related-label-1{
    position: absolute;
    color: #ffff;
    background-color: #5A7634;
    border-radius: 0.99vw 0.99vw 0px 0.99vw;
    padding: 0.71vw 1.7vw;
    top: 0.99vw;
    font-size: 0.92vw;
    letter-spacing: 0.035vw;
    left: 32.8%
}

.announcement-related-label-2{
    position: absolute;
    color: #ffff;
    background-color: #0A505F;
    border-radius: 0.99vw 0.99vw 0px 0.99vw;
    padding: 0.49vw 1.48vw;
    top: 0.99vw;
    font-size: 0.92vw;
    letter-spacing: 0.035vw;
    left: 85.75%
}

.related-title-text-2 {
    color: #ffff;
    position: relative;
    top: 16.09vw;
    left: 2.54vw;
    font-size: 1.2vw;
    letter-spacing: 0.07vw;
}

.related-title-text-2 span{
     font-size: 0.99vw;
     color: #0A505F;
     -webkit-text-stroke: 0.14vw #0A505F;
}

.related-caption-text-2 {
    color: #FFFFFF;
    position: relative;
    top: 16.44vw;
    left: 2.54vw;
    font-size: 0.92vw;
    letter-spacing: 0.07vw;
    width: 80%;
    line-height: 1.27vw;
}

.related-author-text-2 {
    color: #FFFFFF;
    position: relative;
    top: 16.65vw;
    left: 2.54vw;
    font-size: 0.7vw;
    letter-spacing: 0.07vw;
    width: 80%;
    line-height: 1.27vw;
}