.programs-banner {
    height: 579px;
    background-image: url(../../../assets/Photos/programs/01-banner-photo.png);
    border-radius: 0 0 500px 0;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1366px) {
    .programs-banner {
        height: 452px;
        border-radius: 0 0 391px 0;
    }
}

@media (min-width: 1920px) {
    .programs-banner {
        height: 579px;
        border-radius: 0 0 500px 0;
    }
}