.team-container{
    height: 45.021vw;
    position: relative;
}

.team-container img{
    height: 45.021vw;
    width: 100%;
    object-fit: cover;
}

.ocean{
    opacity: 0.4;
}

.team-content{
    position: absolute;
    color: white;
    height: 45.021vw;
    width: 100%;
    position: absolute;
    top: 0;
}

.team-images img:nth-child(1){
    height: 33.748vw;
    width: 26.207vw;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    z-index: -99;
    opacity: 0.8;
}

.team-images img:nth-child(2){
    height: 30.453vw;
    width: 25.988vw;
    margin-right: 42.825vw;
    object-fit: cover;
    position: absolute;
    z-index: -100;
    opacity: 0.5;
    bottom: 0;
}

.team-images img:nth-child(3){
    height: 30.453vw;
    width: 26.207vw;
    margin-left: 45.021vw;
    object-fit: cover;
    position: absolute;
    z-index: -100;
    opacity: 0.5;
    bottom: 0;
}

.team-softlight img{
    height: 33.748vw;
    width: 26.207vw;
    object-fit: cover;
}

.team-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90.483vw;
    height: 40.190vw;
}

.team-images-box {
    display: grid;
    justify-content: center;
}

.team-container .team-softlight{
    position: absolute;
    bottom: 0;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* mix-blend-mode: soft-light; */
    opacity: 0.5;
    filter: brightness(67%) contrast(160%);
}

.team-content p{
    margin-top: 2.635vw;
    font-size: 1.683vw;
    text-align: center;
}

.green-container{
    display: grid;
    justify-content: center;
}

.green-line{
    width: 86.383vw;
    margin-top: 3.587vw;
    border-bottom: 0.146vw solid #5A7634;
}

.team-title{
    z-index: 999;
    position: absolute;
    height: 3.513vw;
    font-size: 0.878vw;
    width: 100%;
    background: rgba(255, 255, 255, .2) !important;
    backdrop-filter: blur(15px) !important;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
}

.team-title:nth-child(2){
    font-size: 0.732vw;
}