.about-banner {
    height: 32.869vw;
    border-radius: 0 0 26.427vw 0;
    width: 100%;
    background-image: url(../../../assets/Photos/about/01-about-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 80%;
}

.about-logos{
    padding-top: 9.516vw;
    margin-left: 5.856vw;
    height: 4.575vw;
    width: 4.612vw;
    display: flex;
}

.about-logos img {
    width: 100%;
    height: 100%;
}

.about-logos img:nth-child(n+2){
    margin-left: 0.366vw;
}

.about-title{
    font-size: 2.781vw;
    margin-left: 5.856vw;
    margin-top: 0.585vw;
    text-transform: uppercase;
}

.about-bannerText {
    margin-top: 0.585vw;
    width: 48.901vw;
    margin-left: 5.856vw;
    line-height: 1.45;
    text-shadow: 0.732vw 0.732vw 0.732vw #00000029;
    font-weight: 100;
    letter-spacing: 0.05vw;
    font-style: oblique;
}


