.about-banner {
    height: 31.62vw;
    border-radius: 0 0 25.423vw 0;
    width: 100%;
    background-image: url(../../../assets/Photos/about/01-about-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 80%;
 
}

.about-logos{
    padding-top: 9.155vw;
    margin-left: 5.63vw;
    height: 4.412vw;
    width: 4.437vw;
    display: flex;
}

.about-logos img {
    width: 100%;
    height: 100%;
}

.about-logos img:nth-child(n+2){
    margin-left: 0.35vw;
}

.about-title{
    font-size: 2.68vw;
    margin-left: 5.63vw;
    margin-top: 0.563vw;
    text-transform: uppercase;
}

.about-bannerText {
    margin-top: 0.563vw;
    width: 47.04vw;
    margin-left: 5.63vw;
    line-height: 1.45;
    text-shadow:  0.704vw  0.704vw  0.704vw #00000029;
    font-weight: 100;
    letter-spacing: 0.05vw;
    font-style: oblique;
}