.side-content{
  width: 22.108vw;
  margin-top: 6.002vw;
}

.gallery-container img{
  margin: 0 !important;
}

.qoute-container{
  height: 30.234vw;
  border-radius: 0.292vw 13.177vw 0.292vw 0.292vw;
  background-color: #0A505F;
}

.qoute-content{
  color: white;
  text-align: center;
  font-size: 2.415vw;
  padding: 6.222vw 5.124vw 6.661vw 4.392vw;
  line-height: 1.2;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-style: normal;
}

.qoute-author{
  text-align: center;
  margin-top: -5.417vw;
  font-size: 1.098vw;
}

.qoute-author p:nth-child(2){
  font-size: 0.732vw;
  margin-top: 0.073vw;
}

.gallery-container{
  margin-top: 1.976vw;
  height: 26.939vw;
  overflow: hidden;
}

.gallery-content{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: 1000px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  overflow-x: hidden;
}

.gallery-container img{
  width: 22.108vw;
  height: 12.445vw;
  object-fit: cover;
}

.gallery-container .image:nth-child(n+2){
  margin-top: 0.732vw !important;
}

.radius-5{
  border-radius: 0.292vw;
}

.image {
  position: relative;
  width: 100%;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.108vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  padding: 0.585vw;
  font-size: 0.951vw;
}