.side-content{
  width: 387px;
  margin-top: 105px;
}

.gallery-container img{
  margin: 0 !important;
}

.qoute-container{
  height: 529px;
  background-color: #0A505F;
  border-radius: 5px 230px 5px 5px;
}

.qoute-content{
  color: white;
  text-align: center;
  font-size: 43px;
  line-height: 1.2;
  padding: 109px 90px 117px 74px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-style: normal;
}

.qoute-author{
  text-align: center;
  margin-top: -95px;
  font-size: 20px;
}

.qoute-author p:nth-child(2){
  font-size: 13px;
  margin-top: 1px;
}

.gallery-container{
  margin-top: 35px;
  height: 471px;
  overflow: hidden;
}

.gallery-content{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: 1000px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  overflow-x: hidden;
}

.gallery-container img{
  width: 387px;
  height: 218px;
  object-fit: cover;
}

.gallery-container .image:nth-child(n+2){
  margin-top: 12px !important;
}

.radius-5{
  border-radius: 5px;
}

.image {
  position: relative;
  width: 100%;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 387px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  padding: 10px;
  font-size: 17px;
}

/* @media (max-width: 1680px) {
  .side-content{
    width: 376px;
    margin-top: 73px;
  }

  .qoute-container{
    height: 517px;
    border-radius: 4px 219px 4px 4px;
  }

  .qoute-content{
    font-size: 43px;
    padding: 90px 82px 117px 72px;
  }
    
  .qoute-author{
    margin-top: -83px;
    font-size: 18px;
  }
    
  .qoute-author p:nth-child(2){
    font-size: 14px;
    margin-top: 1px;
  }

  .gallery-container{
    margin-top: 35px;
    height: 491px;
  }
    
  .gallery-container img{
    width: 381px;
    height: 213px;
  }

  .gallery-container .image:nth-child(n+2){
    margin-top: 11px !important;
  }
    
  .radius-5{
    border-radius: 4px;
  }

  .image__overlay {
    width: 381px;
  }

  .image__title {
    padding: 8px;
    font-size: 18px;
  }
}
  
@media (max-width: 1536px) {
  .side-content{
    width: 344px;
    margin-top: 67px;
  }

  .qoute-container{
    height: 473px;
    border-radius: 4px 201px 4px 4px;
  }

  .qoute-content{
    font-size: 39px;
    padding: 82px 75px 107px 66px;
  }
    
  .qoute-author{
    margin-top: -76px;
    font-size: 16px;
  }
    
  .qoute-author p:nth-child(2){
    font-size: 13px;
    margin-top: 1px;
  }

  .gallery-container{
    margin-top: 32px;
    height: 449px;
  }
    
  .gallery-container img{
    width: 348px;
    height: 195px;
  }

  .gallery-container .image:nth-child(n+2){
    margin-top: 10px !important;
  }
    
  .radius-5{
    border-radius: 4px;
  }

  .image__overlay {
    width: 348px;
  }

  .image__title {
    padding: 7px;
    font-size: 16px;
  }
}


@media (max-width: 1440px) {
  .side-content{
    width: 323px;
    margin-top: 63px;
  }

  .qoute-container{
    height: 444px;
    border-radius: 4px 188px 4px 4px;
  }

  .qoute-content{
    font-size: 37px;
    padding: 77px 70px 100px 62px;
  }
    
  .qoute-author{
    margin-top: -71px;
    font-size: 15px;
  }
    
  .qoute-author p:nth-child(2){
    font-size: 12px;
    margin-top: 1px;
  }

  .gallery-container{
    margin-top: 30px;
    height: 421px;
  }
    
  .gallery-container img{
    width: 326px;
    height: 183px;
  }

  .gallery-container .image:nth-child(n+2){
    margin-top: 9px !important;
  }
    
  .radius-5{
    border-radius: 4px;
  }

  .image__overlay {
    width: 326px;
  }

  .image__title {
    padding: 7px;
    font-size: 15px;
  }
} */

@media (min-width: 1366px) {
  .side-content{
    width: 302px;
    margin-top: 82px;
  }

  .qoute-container{
    height: 413px;
    border-radius: 4px 180px 4px 4px;
  }
  
  .qoute-content{
    font-size: 33px;
    padding: 85px 70px 91px 60px;
  }
  
  .qoute-author{
    margin-top: -74px;
    font-size: 15px;
  }
  
  .qoute-author p:nth-child(2){
    font-size: 10px;
    margin-top: 1px;
  }

  .radius-5{
    border-radius: 4px;
  }

  .gallery-container{
    margin-top: 27px;
    height: 368px;
  }

  .gallery-container img{
    width: 302px;
    height: 170px;
  }
  
  .gallery-container .image:nth-child(n+2){
    margin-top: 10px !important;
  }

  .image__overlay {
    width: 302px;
  }
  
  .image__title {
    padding: 8px;
    font-size: 13px;
  }
}

@media (min-width: 1920px) {
  .side-content{
    width: 387px;
    margin-top: 105px;
  }
  
  .qoute-container{
    height: 529px;
    border-radius: 5px 230px 5px 5px;
  }
  
  .qoute-content{
    font-size: 43px;
    padding: 109px 90px 117px 74px;
  }
  
  .qoute-author{
    margin-top: -95px;
    font-size: 20px;
  }
  
  .qoute-author p:nth-child(2){
    font-size: 13px;
    margin-top: 1px;
  }
  
  .gallery-container{
    margin-top: 35px;
    height: 471px;
  }
  
  
  .gallery-container img{
    width: 387px;
    height: 218px;
  }
  
  .gallery-container .image:nth-child(n+2){
    margin-top: 12px !important;
  }
  
  .radius-5{
    border-radius: 5px;
  }
  
  .image__overlay {
    width: 387px;
  }
  
  
  .image__title {
    padding: 10px;
    font-size: 17px;
  }
}






/* @media (min-width: 2100px){
  .side-content{
    margin-top: 145px;
  }

  .gallery-container{
    height: 500px;
  }
} */