.explore-next2 {
    margin-top: 49.048vw;
    height: 21.522vw;
    border-radius: 0 23.426vw 0 0;
    background-color: rgba(10, 80, 95, .3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.explore-box2 {
    width: 68.081vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.explore-next2 img {
    height: 15.666vw;
    width: 27.891vw;
    object-fit: cover;
    background-color: #5A7634;
}

.bg-cont2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.explore-next2 .bg-img2{
    position: absolute;
    margin-right: 27.891vw;
    z-index: -1;
    margin-top: -7.833vw;
    height: 15.592vw;
    width: 27.891vw;
    background-color: #5A7634;
}

.explore-next2 img{
    transition: 0.3s;
}

.explore-next2 img:hover {
    margin-right: 0.439vw;
    margin-bottom: 0.805vw;
}



.navi-title2 {
    color: white;
    font-size: 1.610vw;
    margin-left: 4.904vw;
}

.next-icon2 {
    font-size: 2.635vw;
    margin-bottom: -0.805vw;
}

.explore-next-content2 {
    line-height: 1.4;
    width: 35.285vw;
    margin-left: 4.904vw;
    margin-top: 1.464vw;
}