.programs-banner {
    width: 100%;
    background-image: url(../../../assets/Photos/programs//01-banner-photo.png);
    height: 31.83vw;
    background-position: 30% 30%;
    border-radius: 0 0 34.72vw 0;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
}


.programs-logos{
    padding-top: 9.155vw;
    margin-left: 5.63vw;
    height: 4.412vw;
    width: 4.437vw;
    display: flex;
}

.programs-logos img {
    width: 100%;
    height: 100%;
}

.programs-logos img:nth-child(n+2){
    margin-left: 0.35vw;
}

.programs-title{
    font-size: 2.68vw;
    margin-left: 5.63vw;
    margin-top: 0.563vw;
    text-transform: uppercase;
}

.programs-bannerText {
    margin-top: 0.563vw;
    width: 47.04vw;
    margin-left: 5.63vw;
    line-height: 1.45;
    text-shadow:  0.704vw  0.704vw  0.704vw #00000029;
    font-weight: 100;
    letter-spacing: 0.05vw;
    font-style: oblique;
}