.fleet-content {
    height: 23.060vw;
    top: 13.616vw;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.fleet-container{
    border-radius: 50%;
    border: 0.102vw solid #FFFFFF;
    overflow: hidden;
    margin: 0px 1.317vw;
    
}
.fleet-content2 {
    height: 23.060vw;
    position: absolute;
    top: 56.368vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fleet-img {
    height: 100%;
    width: 23.060vw;
    position: relative;
    text-align: center;
    color: white;
    z-index: 0;
    
}

.overlay{
    border-radius: 50%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 23.060vw;
    background-color: rgba(255, 255, 255, 0.051);
    z-index: 999;
}

.fleet-img:hover img{
    transform: scale(1.05);
}

.fleet-img img{
    transition: transform .2s ease;
}


.text-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    opacity:0;
    letter-spacing: 1.2px;
    font-family: 'Avenir Book';
    color: #f8f8ff;
    font-size: 0.732vw;
    font-weight: 100;
  }
  
  .fleet-img:hover .text-overlay {
    opacity: 1;
    
  }

.fleet-img img:nth-child(1) {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* transition: transform .5s ease; */
}

.fleet-img img:nth-child(2) {
    height: 10.761vw;
    width: 22.767vw;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 6.661vw;
    /* transition: transform .5s ease; */
}

/* .fleet-img img:hover{
    transform: scale(1.05);
} */

.top-stroke {
    position: absolute;
    height: 0.658vw;
    top: 0;
    left: 50%;
    background-color: white;
    width: 0;
    border: 0.0732vw solid white;
}

.top-left-stroke {
    position: absolute;
    height: 0.658vw;
    left: 3.367vw;
    top: 3.367vw;
    background-color: white;
    width: 0;
    border: 0.0732vw solid white;
    transform: rotate(-225deg);
}

.top-right-stroke {
    position: absolute;
    height: 0.658vw;
    right: 3.367vw;
    top: 3.367vw;
    background-color: white;
    width: 0;
    border: 0.0732vw solid white;
    transform: rotate(-135deg);
}

.bottom-left-stroke {
    position: absolute;
    height: 0.658vw;
    left: 3.367vw;
    bottom: 3.367vw;
    background-color: white;
    width: 0;
    border: 0.0732vw solid white;
    transform: rotate(-135deg);
}

.bottom-right-stroke {
    position: absolute;
    height: 0.658vw;
    right: 3.367vw;
    bottom: 3.367vw;
    background-color: white;
    width: 0;
    border: 0.0732vw solid white;
    transform: rotate(-225deg);
}

.bottom-stroke {
    position: absolute;
    height: 0.658vw;
    left: 50%;
    bottom: 0;
    background-color: white;
    width: 0;
    border: 0.0732vw solid white;
}

.left-stroke {
    position: absolute;
    height: 0.658vw;
    top: 50%;
    left: 0.292vw;
    background-color: white;
    width: 0;
    border: 0.0732vw solid white;
    transform: rotate(90deg);
}

.right-stroke {
    position: absolute;
    height: 0.658vw;
    top: 50%;
    right: 0.292vw;
    background-color: white;
    width: 0;
    border: 0.0732vw solid white;
    transform: rotate(90deg);
}

.fleet-img:nth-child(n+2) {
    margin-left: 2.928vw;
}

.fleet-card {
    position: absolute;
    top: 38.872vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fleet-card2 {
    position: absolute;
    top: 81.698vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fleet-context {
    width: 23.060vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    line-height: 1.2;
}

.fleet-context:nth-child(n+2) {
    margin-left: 2.928vw;
}

.second-p {
    margin-top: 1.683vw;
    margin-left: 0.951vw;
    line-height: 1.4;
}

.second-p p:nth-child(2) {
    margin-top: 0.292vw;
}

.blue-line {
    position: absolute;
    left: 4.685vw;
    top: 0.658vw;
    height: 10.907vw;
    background-color: #0A505F;
    width: 0.073vw;
}

.circle-top{
    position: absolute;
    left: -0.219vw;
    top: -0.292vw;
    height: 0.439vw;
    width: 0.439vw;
    border-radius: 50%;
    background-color: #0A505F;
}

.circle-mid{
    position: absolute;
    left: -0.219vw;
    top: 3.367vw;
    height: 0.439vw;
    width: 0.439vw;
    border-radius: 50%;
    background-color: #0A505F;
}

.circle-bottom{
    position: absolute;
    left: -0.219vw;
    bottom: -0.292vw;
    height: 0.439vw;
    width: 0.439vw;
    border-radius: 50%;
    background-color: #0A505F;
}

.fleetHeight {
    height: 100vh;
    margin-bottom: 6.588vw;
}

/* @media (min-width: 1920px) {
    .fleet-content {
        
    }
    
    .fleet-content2 {
    }
    
    .fleet-img {
    }
    
    .overlay{
        width: 443px;
    }
    
    .fleet-img img:nth-child(2) {
        height: 207px;
        width: 437px;
        top: 128px;
    }
    
    .top-stroke {
        height: 13px;
    }
    
    .top-left-stroke {
        height: 13px;
        left: 65px;
        top: 65px;
    }
    
    .top-right-stroke {
        height: 13px;
        right: 65px;
        top: 65px;
    }
    
    .bottom-left-stroke {
        height: 13px;
        left: 65px;
        bottom: 65px;
    }
    
    .bottom-right-stroke {
        height: 13px;
        right: 65px;
        bottom: 65px;
    }
    
    .bottom-stroke {
        height: 13px;
    }
    
    .left-stroke {
        height: 13px;
        left: 6px;
    }
    
    .right-stroke {
        height: 13px;
        right: 6px;
    }
    
    .fleet-img:nth-child(n+2) {
        margin-left: 56px;
    }
    
    .fleet-card {
        top: 746px;
    }
    
    .fleet-card2 {
        top: 1568px;
    }
    
    .fleet-context {
        width: 443px;
    }
    
    .fleet-context:nth-child(n+2) {
        margin-left: 56px;
    }
    
    .second-p {
        margin-top: 32px;
        margin-left: 18px;
    }
    
    .second-p p:nth-child(2) {
        margin-top: 6px;
    }
    
    .blue-line {
        left: 90px;
        top: 12px;
        height: 209px;
    }
    
    .circle-top{
        left: -4px;
        top: -5px;
        height: 9px;
        width: 9px;
    }
    
    .circle-mid{
        left: -4px;
        top: 65px;
        height: 9px;
        width: 9px;
    }
    
    .circle-bottom{
        left: -4px;
        bottom: -5px;
        height: 9px;
        width: 9px;
    }  

    .explore-marg {
        height: 80vh;
        margin-bottom: 250px;
    }
} */

