.homecontent-center-box{
    display: grid;
    justify-content: center;
}

.homeContent-container{
    /* margin: 0 115px; */
    width: 86.3vw;
}

.row-content{
    display: flex;
    flex-direction: row;
}

