.news-container{
    height: 457px;
    /* width: 1169px; */
    border-radius: 5px;
    width: 1169px;
    background-color: #FFFFFF1A;
    margin-top: 335px;
    position: absolute;
    margin-left: 520px;
}

.title-news{
    height: 40px;
    width: 137px;
    background-color: #0A505F;
    position: absolute;
    top: -20px;
    right: 0;
    border-radius: 20px 20px 0 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.padding-news{
    padding: 55px 68px 61px 69px;
    font-size: 20px;
    line-height: 1.3;
}

.news-container p:nth-child(1){
    font-size: 30px;
    text-align: center;
}

.news-container p:nth-child(2){
    margin-top: 30px;
}

.news-container p:nth-child(n+3){
    margin-top: 25px;
}

/* Announcement */

.announcement-container{
    height: 441px;
    width: 1169px;
    border-radius: 5px;
    background-color: #FFFFFF1A;
    margin-top: 838px;
    position: absolute;
    margin-left: 520px;
}

.title-announcement{
    height: 40px;
    width: 239px;
    background-color: #5A7634;
    position: absolute;
    top: -20px;
    right: 0;
    border-radius: 20px 20px 0 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.announcement-container p:nth-child(1){
    font-size: 30px;
    text-align: center;
}

.announcement-container p:nth-child(2){
    margin-top: 30px;
}

.announcement-container p:nth-child(n+3){
    margin-top: 25px;
}