.news-container{
    height: 23.279vw;
    border-radius: 0.292vw;
    width: 59.736vw;
    margin-top: 16.837vw;
    margin-left: 26.573vw;
    background-color: #FFFFFF1A;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.title-news{
    height: 1.976vw;
    width: 6.881vw;
    border-radius: 1.098vw 1.098vw 0 1.098vw;
    font-size: 0.951vw;
    background-color: #0A505F;
    position: absolute;
    top: -1.098vw;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.padding-news{
    width: 52.708vw;
    font-size: 0.951vw;
    line-height: 1.4;
}

.news-container p:nth-child(1){
    font-size: 1.464vw;
    text-align: center;
}

.news-container p:nth-child(2){
    margin-top: 1.683vw;
}

.news-container p:nth-child(n+3){
    margin-top: 1.464vw;
}

/* Announcement */

.announcement-container{
    height: 22.474vw;
    width: 59.736vw;
    border-radius: 0.292vw;
    margin-top: 42.606vw;
    margin-left: 26.573vw;
    background-color: #FFFFFF1A;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.title-announcement{
    height: 1.976vw;
    width: 11.346vw;
    border-radius: 1.098vw 1.098vw 0 1.098vw;
    font-size: 0.951vw;
    background-color: #5A7634;
    position: absolute;
    top: -1.098vw;
    right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}

.announcement-container p:nth-child(1){
    font-size: 1.683vw;
    text-align: center;
}

.announcement-container p:nth-child(2){
    margin-top: 1.683vw;
}

.announcement-container p:nth-child(n+3){
    margin-top: 1.464vw;
}