.team-container{
    height: 30.746vw;
    position: relative;
}

.team-container img{
    height: 30.746vw;
    width: 100%;
    object-fit: cover;
}

.ocean{
    opacity: 0.4;
}

.team-content{
    position: absolute;
    color: white;
    height: 30.746vw;
    width: 100%;
    position: absolute;
    top: 0;
}

.team-images img:nth-child(1){
    height: 46.120vw;
    width: 35.797vw;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    z-index: -99;
    opacity: 0.8;
}

.team-images img:nth-child(2){
    height: 41.581vw;
    width: 35.797vw;
    object-fit: cover;
    position: absolute;
    z-index: -100;
    opacity: 0.5;
    bottom: 0;
    margin-right: 58.565vw;
}

.team-images img:nth-child(3){
    height: 41.581;
    width: 35.797vw;
    object-fit: cover;
    position: absolute;
    z-index: -100;
    opacity: 0.5;
    bottom: 0;
    margin-left: 61.493vw;
}

.team-softlight img{
    height: 46.120;
    width: 35.797vw;
    object-fit: cover;
}

.team-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 123.718vw;
    height: 54.904vw;
}

.team-images-box {
    display: grid;
    justify-content: center;
}

.team-container .team-softlight{
    position: absolute;
    bottom: 0;
    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* mix-blend-mode: soft-light; */
    opacity: 0.5;
    filter: brightness(67%) contrast(160%);
}

.team-content p{
    margin-top: 1.464vw;
    font-size: 1.464vw;
    text-align: center;
}

.green-container{
    display: grid;
    justify-content: center;
}

.green-line{
    border-bottom: 0.146vw solid #5A7634;
    width: 86.383vw;
    margin-top: 4.392vw;
}

.team-title{
    z-index: 999;
    position: absolute;
    height: 5.270vw;
    font-size: 0.878vw;
    width: 100%;
    background: rgba(255, 255, 255, .2) !important;
    backdrop-filter: blur(15px) !important;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
}

.team-title-sub {
    display: flex;
    justify-content: center;
    gap: 2.708vw;
}

.title-logos {
    margin-top: 4.392vw;
    display: flex;
    justify-content: center;   
}

.logo-sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.196vw;
    width: 86.383vw;
}

.mid-subtitle{  
    width: 8.638vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-4 {
    margin-top: 0.292vw;
}

.title-logos img{
    height: 8.345vw;
    width: 8.638vw;
}
