.programs-container {
    display: grid;
    justify-content: center;
    margin-bottom: 5.03vw;
    margin-top: 4.12vw;
    position: relative;
}

.programs-content {
    width: 82vw;
    height: 22.5vw;
    margin-top: 3.87vw;
    background-color: #FFFFFF1A;
    border-radius: 0.21vw;
    display: flex;
    position: relative;
}

.image-container {
    margin: 1.5vw 0.99vw 2vw 2vw;
    width: 34vw;
    height: 19vw;
    padding: 0.352vw 0vw;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.21vw;
    transition: transform .5s ease;
}

.image-container img:hover{
    transform: scale(1.1);
}

.program-details-container {
    display: flex;
    flex-direction: column;
    font-family: 'Avenir Heavy';
    line-height: 1.2;
    padding: 3.17vw 1.62vw 1.97vw 1.97vw;
}

p.title-content-programs {
    line-height: 1.55vw;
    width: 43vw;
}

.program-details p{
    line-height: 1.76vw;
    letter-spacing: 0.07vw;
    margin-top: 2.2vw;
}

.program-details p:hover{
    color: #5A7634;
}

.program-title {
    font-size: 1.464vw;
}

.program-subtitle {
    font-size: 0.951vw;
}

.green-text {
    display: flex;
    flex-direction: column;
}


.title-content-programs {
    font-family: 'Avenir Light';
    width: 28.17vw;
    margin-top: 1.76vw;
    font-size: 0.951vw;
}

.learn-more {
    position: absolute;
    font-size: 0.75vw;
    display: flex;
    bottom: 1.5vw;
    right: 3.7vw;
}

.learn-more:hover {
    font-family: 'Avenir Medium';
    cursor: pointer;
}

.program-search {
    position: relative;
    margin-top: -4.5vw;
    margin-right: -6vw;
}

/*
@media (min-width: 1366px) {
    .programs-container {
        margin-bottom: 99px;
        margin-top: 81px;
    }
    
    .programs-content {
        height: 301px;
        margin-top: 29px;
        width: 1125px;
        border-radius: 4px;
    }
    
    .left-image {
        width: 449px;
        height: 251px;
        margin: 25px;
    }
    
    .programs-context {
        margin-left: 41px;
    }
    
    .programs-title {
        font-size: 21px;
    }
    
    .title-sub {
        font-size: 13px;
    }
    
    .title-content-programs {
        width: 531px;
        margin-top: 25px;
    }
    
    .learn-more {
        font-size: 10px;
        bottom: 25px;
        right: 30px;
    }
    
    .program-search {
        margin-top: -68px;
        margin-right: -98px;
    }
}

@media (min-width: 1920px) {
    .programs-container {
        margin-bottom: 127px;
        margin-top: 104px;
    }
    
    .programs-content {
        height: 386px;
        margin-top: 37px;
        width: 1440px;
        border-radius: 5px;
    }
    
    .left-image {
        width: 575px;
        height: 322px;
        margin: 32px;
    }
    
    .programs-context {
        margin-left: 52px;
    }
    
    .programs-title {
        font-size: 27px;
    }
    
    .title-sub {
        font-size: 17px;
    }
    
    .title-content-programs {
        width: 680px;
        margin-top: 32px;
    }
    
    .learn-more {
        font-size: 13px;
        bottom: 32px;
        right: 39px;
    }
    
    .program-search {
        margin-top: -88px;
        margin-right: -125px;
    }
}*/