.programs-container {
    display: grid;
    justify-content: center;
    margin-bottom: 127px;
    margin-top: 104px;
    position: relative;
}

.programs-content {
    height: 386px;
    margin-top: 37px;
    width: 1440px;
    background-color: #FFFFFF1A;
    border-radius: 5px;
    display: flex;
    position: relative;
}

.image-container {
    width: 575px;
    height: 322px;
    margin: 32px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .5s ease;
}

.image-container img:hover{
    transform: scale(1.1);
}

.program-details-container {
    display: flex;
    flex-direction: column;
    font-family: 'Avenir Heavy';
    line-height: 1.2;
    padding: 80px 40px 50px 50px;
}

p.title-content-programs {
    line-height: 25px;
}

.program-details p{
    line-height: 32px;
    letter-spacing: 1px;
}

.program-details p:hover{
    color: #5A7634;
}

.program-title {
    font-size: 27px;
}

.program-subtitle {
    font-size: 17px;
}

.green-text {
    display: flex;
    flex-direction: column;
}


.title-content-programs {
    font-family: 'Avenir Light';
    width: 680px;
    margin-top: 25px;
    font-size: 18px;
}

.learn-more {
    position: absolute;
    font-size: 13px;
    display: flex;
    bottom: 32px;
    right: 39px;
}

.learn-more:hover {
    font-family: 'Avenir Medium';
    cursor: pointer;
}

.program-search {
    position: relative;
    margin-top: -88px;
    margin-right: -125px;
}

/*
@media (min-width: 1366px) {
    .programs-container {
        margin-bottom: 99px;
        margin-top: 81px;
    }
    
    .programs-content {
        height: 301px;
        margin-top: 29px;
        width: 1125px;
        border-radius: 4px;
    }
    
    .left-image {
        width: 449px;
        height: 251px;
        margin: 25px;
    }
    
    .programs-context {
        margin-left: 41px;
    }
    
    .programs-title {
        font-size: 21px;
    }
    
    .title-sub {
        font-size: 13px;
    }
    
    .title-content-programs {
        width: 531px;
        margin-top: 25px;
    }
    
    .learn-more {
        font-size: 10px;
        bottom: 25px;
        right: 30px;
    }
    
    .program-search {
        margin-top: -68px;
        margin-right: -98px;
    }
}

@media (min-width: 1920px) {
    .programs-container {
        margin-bottom: 127px;
        margin-top: 104px;
    }
    
    .programs-content {
        height: 386px;
        margin-top: 37px;
        width: 1440px;
        border-radius: 5px;
    }
    
    .left-image {
        width: 575px;
        height: 322px;
        margin: 32px;
    }
    
    .programs-context {
        margin-left: 52px;
    }
    
    .programs-title {
        font-size: 27px;
    }
    
    .title-sub {
        font-size: 17px;
    }
    
    .title-content-programs {
        width: 680px;
        margin-top: 32px;
    }
    
    .learn-more {
        font-size: 13px;
        bottom: 32px;
        right: 39px;
    }
    
    .program-search {
        margin-top: -88px;
        margin-right: -125px;
    }
}*/