.search-container{
    width: 12.664vw !important;
    height: 2.342vw;
    border-radius: 1.683vw;
    margin-top: 1.683vw;
    border: 1px solid rgba(255,255,255,0.502);
    background-color: rgba(255,255,255,0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
}

.search-container p{
    color: white;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-icon {

    font-size: 1.024vw;
    padding-left: 0.585vw;
}


