body{
    background-color: black;
}

.nav{
    z-index: 99999 !important;
    position: fixed;
    width: 100%;
    height: 47px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, .2) !important;
    backdrop-filter: blur(25px) !important;
    display: grid;
    justify-content: center;
    align-items: center;
}

p{
    color: white;
    font-size: 17px;
}

.nav-text1 {
    position: absolute;
}

.nav-text2 {
    position: absolute;
    left: 210px;
}

.nav-text3 {
    position: absolute;
    left: 338px;
}

.nav-text4 {
    position: absolute;
    left: 495px;
}

.nav-text5 {
    position: absolute;
    left: 665px;
}

.nav-text6 {
    position: absolute;
    left: 819px;
}

.nav-text7 {
    position: absolute;
    left: 966px;
}

.nav-text8 {
    position: absolute;
    right: 0;
}

.active{
    font-family: 'Avenir Black';
}

.btn-nav{
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* justify-content: space-between; */
    width: 1275px;
    position: relative;
}

/* @media (max-width: 1680px) {
    .nav {
        height: 47px;
    }

    .btn-nav {
        width: 1229px;
        height: 47px;
    }

    p {
        font-size: 18px;
    }
}

@media (max-width: 1536px){
    .nav {
        height: 43px;
    }

    .btn-nav {
        width: 1124px;
        height: 43px;
    }

    p {
        font-size: 16px;
    }
}

@media (max-width: 1440px) {
    .nav {
        height: 40px;
    }

    .btn-nav {
        width: 1054px;
        height: 40px;
    }

    p {
        font-size: 15px;
    }
} */

@media (min-width: 1366px) {
    .nav{
        height: 37px;
    }
    
    p{
        font-size: 13px;
    }
    
    .btn-nav{
        height: 37px;
        width: 996px;
    }

    .nav-text2 {
        position: absolute;
        left: 164px;
    }
    
    .nav-text3 {
        position: absolute;
        left: 264px;
    }
    
    .nav-text4 {
        position: absolute;
        left: 387px;
    }
    
    .nav-text5 {
        position: absolute;
        left: 520px;
    }
    
    .nav-text6 {
        position: absolute;
        left: 640px;
    }
    
    .nav-text7 {
        position: absolute;
        left: 755px;
    }
}

@media (min-width: 1920px) {
    .nav{
        height: 47px;
    }
    
    p{
        font-size: 17px;
    }
    
    .btn-nav{
        height: 47px;
        width: 1275px;
    }
    
    .nav-text2 {
        position: absolute;
        left: 210px;
    }
    
    .nav-text3 {
        position: absolute;
        left: 338px;
    }
    
    .nav-text4 {
        position: absolute;
        left: 495px;
    }
    
    .nav-text5 {
        position: absolute;
        left: 665px;
    }
    
    .nav-text6 {
        position: absolute;
        left: 819px;
    }
    
    .nav-text7 {
        position: absolute;
        left: 966px;
    }
}
