.fleet-content4 {
    margin: 60px 0px 20px 0px;
    height: 443px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.fleet-container4{
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    overflow: hidden;
    margin: 0px 25px;
    
}

.fleet-img4 {
    height: 100%;
    position: relative;
    text-align: center;
    color: white;
    z-index: 0;
    
}

.overlay4{
    border-radius: 50%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 443px;
    background-color: rgba(255, 255, 255, 0.051);
    z-index: 999;
}

.fleet-img4:hover img{
    transform: scale(1.05);
}

.fleet-img4 img{
    transition: transform .5s ease;
}


.text-overlay4 {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
    opacity:0;
    letter-spacing: 1.5px;
    font-family: 'Avenir Book';
    color: #ffff;
    font-size: 14px;
  }
  
  .fleet-img4:hover .text-overlay4 {
    opacity: 1;
    
  }

.fleet-img4 img:nth-child(1) {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* transition: transform .5s ease; */
}

.fleet-img4 img:nth-child(2) {
    height: 207px;
    width: 437px;
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 128px;
    /* transition: transform .5s ease; */
}

/* .fleet-img img:hover{
    transform: scale(1.05);
} */

.top-stroke4 {
    position: absolute;
    height: 13px;
    top: 0;
    left: 50%;
    background-color: white;
    width: 0;
    border: 1px solid white;
}

.top-left-stroke4 {
    position: absolute;
    height: 13px;
    left: 65px;
    top: 65px;
    background-color: white;
    width: 0;
    border: 1px solid white;
    transform: rotate(-225deg);
}

.top-right-stroke4 {
    position: absolute;
    height: 13px;
    right: 65px;
    top: 65px;
    background-color: white;
    width: 0;
    border: 1px solid white;
    transform: rotate(-135deg);
}

.bottom-left-stroke4 {
    position: absolute;
    height: 13px;
    left: 65px;
    bottom: 65px;
    background-color: white;
    width: 0;
    border: 1px solid white;
    transform: rotate(-135deg);
}

.bottom-right-stroke4 {
    position: absolute;
    height: 13px;
    right: 65px;
    bottom: 65px;
    background-color: white;
    width: 0;
    border: 1px solid white;
    transform: rotate(-225deg);
}

.bottom-stroke4 {
    position: absolute;
    height: 13px;
    left: 50%;
    bottom: 0;
    background-color: white;
    width: 0;
    border: 1px solid white;
}

.left-stroke4 {
    position: absolute;
    height: 13px;
    top: 50%;
    left: 6px;
    background-color: white;
    width: 0;
    border: 1px solid white;
    transform: rotate(90deg);
}

.right-stroke4 {
    position: absolute;
    height: 13px;
    top: 50%;
    right: 6px;
    background-color: white;
    width: 0;
    border: 1px solid white;
    transform: rotate(90deg);
}

.fleet-img4:nth-child(n+2) {
    margin-left: 100px;
}

.fleet-card4 {
    top: 746px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.fleet-context4 {
    width: 443px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    line-height: 1.2;
    letter-spacing: 1px;
    margin-bottom: 100px;
}

.fleet-context4:nth-child(n+2) {
    margin-left: 50px;
}


@media (min-width: 1366px) {
    .fleet-content4 {
        height: 346px;
        top: 204px;
    }

    .fleet-img4 {
        width: 346px;
    }
    
    .overlay4{
        width: 346px;
    }
    
    .fleet-img4 img:nth-child(2) {
        height: 162px;
        width: 341px;
        top: 100px;
    }
    
    .top-stroke4 {
        height: 9px;
    }
    
    .top-left-stroke4 {
        height: 9px;
        left: 51px;
        top: 51px;
    }
    
    .top-right-stroke4 {
        height: 10px;
        right: 51px;
        top: 51px;
    }
    
    .bottom-left-stroke4 {
        height: 9px;
        left: 51px;
        bottom: 51px;
    }
    
    .bottom-right-stroke4 {
        height: 9px;
        right: 51px;
        bottom: 51px;
    }
    
    .bottom-stroke4 {
        height: 9px;
    }
    
    .left-stroke4 {
        height: 9px;
        left: 5px;
    }
    
    .right-stroke4 {
        height: 9px;
        right: 5px;
    }
    
    .fleet-img4:nth-child(n+2) {
        margin-left: 44px;
    }
    
    .fleet-card4 {
        top: 583px;
    }
    
    .fleet-context4 {
        width: 346px;
    }
    
    .fleet-context4:nth-child(n+2) {
        margin-left: 60px;
    }
    
}

@media (min-width: 1920px) {
    .fleet-content4 {
        height: 443px;
        top: 261px;
    }
    
   
    .fleet-img4 {
        width: 443px;
    }
    
    .overlay4{
        width: 443px;
    }
    
    .fleet-img4 img:nth-child(2) {
        height: 207px;
        width: 437px;
        top: 128px;
    }
    
    .top-stroke4 {
        height: 13px;
    }
    
    .top-left-stroke4 {
        height: 13px;
        left: 65px;
        top: 65px;
    }
    
    .top-right-stroke4 {
        height: 13px;
        right: 65px;
        top: 65px;
    }
    
    .bottom-left-stroke4 {
        height: 13px;
        left: 65px;
        bottom: 65px;
    }
    
    .bottom-right-stroke4 {
        height: 13px;
        right: 65px;
        bottom: 65px;
    }
    
    .bottom-stroke4 {
        height: 13px;
    }
    
    .left-stroke4 {
        height: 13px;
        left: 6px;
    }
    
    .right-stroke4 {
        height: 13px;
        right: 6px;
    }
    
    .fleet-img4:nth-child(n+2) {
        margin-left: 56px;
    }
    
    .fleet-card4 {
        top: 746px;
    }

    .fleet-context4 {
        width: 443px;
    }
    
    .fleet-context4:nth-child(n+2) {
        margin-left: 56px;
    }

    .explore-marg {
        height: 80vh;
        margin-bottom: 250px;
    }
}
@media (min-width: 768px) and (max-width: 1360px){
    .fleet-content4 {
        height: 300px;
        top: 250px;
    }
    .fleet-container4{
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    overflow: hidden;
    margin: 0px 40px;
    width: 300px; 
    }
    .fleet-img4 {
        width: 300px;
    }
    
    .overlay4{
        width: 300px;
    }
    
    .fleet-img4 img:nth-child(2) {
        height: 100px;
        width: 300px;
        top: 100px;
    }
    
    .top-stroke4 {
        height: 8px;
    }
    
    .top-left-stroke4 {
        height: 8px;
        left: 44px;
        top: 44px;
    }
    
    .top-right-stroke4 {
        height: 8px;
        right: 44px;
        top: 44px;
    }
    
    .bottom-left-stroke4 {
        height: 8px;
        left: 44px;
        bottom: 44px;
    }
    
    .bottom-right-stroke4 {
        height: 8px;
        right: 44px;
        bottom: 44px;
    }
    
    .bottom-stroke4 {
        height: 8px;
    }
    
    .left-stroke4 {
        height: 9px;
        left: 5px;
    }
    
    .right-stroke4 {
        height: 9px;
        right: 5px;
    }
    
    .fleet-img4:nth-child(n+2) {
        margin-left: 44px;
    }
    
    .fleet-card4 {
        top: 583px;
    }
    
    .fleet-context4 {
        width: 346px;
    }
    
    .fleet-context4:nth-child(n+2) {
        margin-left: 20px;
    }
    
    .text-overlay4 {
        position: absolute;
        top: 87%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
        opacity:0;
        font-family: 'Avenir Book';
        font-size: 11px;
      
      }
    
      .fleet-img4:hover .text-overlay4 {
        opacity: 1;
        
      }

      .fleet-context4 p{
          font-size: 14px;
      }
      .explore-marg {
        height: 80vh;
        margin-bottom: 80px;
     }
    }