

.station-container{
    height: 44.27vw;
    overflow: hidden;
    top: 10vw;
    position: relative;
    left: 4.22vw;
    margin-bottom: 15vw;
}

.aboutCard{
  height: 44.27vw;
  width: 100%;
  overflow-y: scroll;
  padding-right: 711.46px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  overflow-x: hidden;
  z-index: 99;
}

.aboutContent-card2-1 {
    height: 13.35vw;
    border-radius: 0.25vw;
    margin-top: 1.25vw;
    width: 50.6vw;
    background-color: #FFFFFF1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.padding-about-card2 {
    width: 88%;
    text-align: left;
    line-height: 1.4;
}

.padding-about-card2 p{
  letter-spacing: 0.0078vw;
}

.padding-about-card2 p:nth-child(1){
    font-size: 1vw;
}

.padding-about-card2 p:nth-child(1):hover{
    color: #5A7634;
}

.padding-about-card2 p ul:nth-child(1){
    list-style-type: disc;
    line-height: 1vw;
    font-weight: 500;
}

.padding-about-card2 p span{
    font-size: 0.95vw;
}


.padding-about-card2 p:nth-child(2){
    margin-top: 0.75vw;
    font-size: 0.98vw;
    text-align: justify;
    line-height: 1.4vw;
    color: #f8f8ff;
    font-weight: 100;
}

.line{
    border: 0.03vw solid #5A7634;
    width: 50.46vw;
    margin-top: 2.5vw;
}

.map{
    width: 31.63vw;
    height: 45.68vw;
    position:  absolute;
    left: 54.82vw;
    top: -4.22vw;
    z-index: 99999;
}
