

.about-container-1{
    width: 82%;
    margin: auto;
    display: grid;
    justify-content: center;

 
}

.about-card-1{
    background-color: #FFFFFF1A;
    padding: 3.521vw;
    border-radius: 0.352vw;
    display: flex;
    width: 80.99vw;
    height: 20.07vw;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    position: relative;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.022vw;
    margin-bottom: 4.92vw;
    
}

.about-card-1:first-child{
    margin-top: 9.85vw;
    
}
.about-card-1:last-child{
    margin-bottom: 9.85vw;
}

.about-card-1 p{
    font-size: 0.951vw;
    color: #f8f8ff;
    
}

.about-card-1 p:nth-child(1){
    font-size: 1.464vw;
    font-weight: 100;
    margin-top: 1.057vw;
}

.about-card-1 p:nth-child(n+2){
    margin-top: 1.76vw;
}

.about-card-1 p:nth-child(4){
    font-size: 0.99vw;
    font-weight: 100;
    position: relative;
    top: -0.352vw;
    left: 35.92vw;
}

.about-card-text{
    width: 53%;
    position: relative;
    left: 47%;
    
}


.announcement-card-label{
    height: 1.976vw;
    width: 11.346vw;
    border-radius: 1.098vw 1.098vw 0 1.098vw;
    font-size: 0.951vw;
    background-color: #5A7634;
    position: absolute;
    top: -1.098vw;
    right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}

.news-card-label{
    height: 1.976vw;
    width: 6.881vw;
    border-radius: 1.098vw 1.098vw 0 1.098vw;
    font-size: 0.951vw;
    background-color: #0A505F;
    position: absolute;
    top: -1.098vw;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.feature-card-label{
    height: 1.976vw;
    width: 8.346vw;
    border-radius: 1.098vw 1.098vw 0 1.098vw;
    font-size: 0.951vw;
    background-color: #5A7634;
    position: absolute;
    top: -1.098vw;
    right: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}

.announcement-image {
    width: 35.211vw;
    height: 20.42vw;
    position: absolute;
    padding: 0.352vw 0vw
}

.announcement-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease;
}

.announcement-link{
    text-decoration: none;
}
