.footer-container{
    height: 22.254vw;
    /* width: 100%; */
    background-color: #5A7634;
    display: grid;
    align-items: center;
    justify-content: center;
}

.box-content{
    height: 11.713vw;
    width: 59.516vw;
    display: flex;
}

.first-column{
    width: 15.226vw;
    margin-left: 1.610vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.4;
    /* padding-left: 20px; */
}

.second-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2.635vw;
    border-right: 1px solid white;
}

.second-column div{
    margin-top: 1.610vw;
    line-height: 1.3;
}

.third-column{
    padding-left: 2.635vw;
    border-right: 1px solid white;
}

.third-column p:nth-child(1){
    padding-right: 2.635vw;
}

/* .fb {
    padding-left: 0.4vw;
} */

.third-column div{
    margin-top: 1.610vw;
    line-height: 1.4;
}

.last-column {
    display: flex;
    flex-direction: column;
    margin-top: 1.610vw;
    margin-left: 2.635vw;
}

.last-column img{
    height: 2.342vw;
    width: 2.342vw;
    object-fit: cover;
    margin: 0;
}

.last-column img:nth-child(n+2){
    margin-top: 0.805vw;
}


