.side-content{
  width: 20.9vw;
  margin-top: 5.69vw;
}

.gallery-container img{
  margin: 0 !important;
}

.qoute-container{
  background-color: #0A505F;
  height: 28.68vw;
  border-radius: 0.28vw 12.5vw 0.28vw 0.28vw;
}

.qoute-content{
  color: white;
  text-align: center;
  line-height: 1.2;
  font-size: 2.291vw;
  padding: 5.90vw 4.861vw 6.394vw 4.167vw;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-style: normal;
}

.qoute-author{
  text-align: center;
  margin-top: -5.139vw;
  font-size: 1.0417vw;
}

.qoute-author p:nth-child(2){
  font-size: 0.694vw;
  margin-top: 0.0694vw;
}

.gallery-container{
  margin-top: 1.875vw;
  height: 25.55vw;
  overflow: hidden;
}

.gallery-content{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-right: 69.44vw; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
  overflow-x: hidden;
}

.gallery-container img{
  width: 20.97vw;
  height: 11.81vw;
  object-fit: cover;
}

.gallery-container .image:nth-child(n+2){
  margin-top: 0.694vw !important;
}

.radius-5{
  border-radius: 0.278vw;
}

.image {
  position: relative;
  width: 100%;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.95vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  padding: 0.56vw;
  font-size: 0.9028vw;
}

