*:focus{
  outline: none;
}

.gallery-container-1 {
    display: grid;
    justify-content: center;
    position: relative;
}

.gallery-content-1 {
    height: 23.33vw;
    width: 90.5vw;
    background-color: #FFFFFF1A;
    border-radius: 0.35vw;
    display: flex;
    position: relative;
    margin-top: 5.57vw;
}

.gallery-content-1:nth-child(1){
  margin-top: 10.05vw;
}

.gallery-content-1:nth-child(3){
  margin-bottom: 6.96vw;
}

.carousel-gallery img {
    height: 17.48vw;
    width: 31.06vw;
    object-fit: cover;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

}

.title-green-1{
    height: 2.09vw;
    position: absolute;
    top: -1.39vw;
    border-radius: 1.39vw 1.39vw 0 1.39vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.98vw;
    background-color: #5A7634;
    letter-spacing: 0.07vw; 
  
}

.gallery-content-1:nth-child(1) .title-green-1{
  width: 19%;
  left:81%;
}

.gallery-content-1:nth-child(2) .title-green-1{
  width: 13%;
  left:87%;
}

.gallery-content-1:nth-child(3) .title-green-1{
  width: 13%;
  left: 87%;
}

.title-green-2{
    height: 2.44vw;
    width: 19%;
    position: absolute;
    top: 0.70vw;
    left:86%;
    border-radius: 1.39vw 1.39vw 0 1.39vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.98vw;
    letter-spacing: 0.07vw;
}

.carousel-card-1 {
    height: 19.81vw;
    width: 118.37vw;
    margin-bottom: 8.66vw;
    margin-left: 1.39vw;
    margin-right: 1.39vw;
    margin-top: 2.44vw;
    border-radius: 0.35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-card-1 img {
    height: 17.48vw;
    border-radius: 0.35vw;
    width: 23.3vw;;
    object-fit: cover;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}


.image-1 {
    position: relative;
    width: 24vw !important;
  }
  
  .image__img-1 {
    display: block;
    width: 24vw;
  }
  
  .image__overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 27.86vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.25s;
    transition: 0.3s ease-in-out;
  }

  .image__overlay-1 .image__title-1{
    left: 0.7vw;
    top: -0.7vw;
    position: relative;
  }
    
  .image__overlay-1 > * {
    transition: all 1s ease;
  }
  
  .image__overlay-1:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .image__overlay-1:hover > * {
    transform: translateY(0);
  }
  
  .image__title-1 {
    padding: 0.7vw;
    font-size: 1vw;
  }

  .slider{
    margin-top: 17.32vw;
  }

  .slider-img img{
    height: 23vw;
    width: 38.7vw;
  }

  .left-shadow{
    color: white;
    position:absolute;
    height:25vw;
    margin-top: 1vw;
    width: 30vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0vw;
    bottom: 14vw;
    z-index: 88888;
    background: linear-gradient(90deg, black, transparent);
  }

  .right-shadow{
    color: white;
    position:absolute;
    height:25vw;
    margin-top: 1vw;
    width: 25vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0vw;
    bottom: 14vw;
    z-index: 88888;
    background: linear-gradient(270deg, black, transparent);
  }