.announcements-banner {
    height: 31.83vw;
    background-image: url(../../../assets/Photos/announcements/01-banner-full.png);
    background-position: 30% 30%;
    border-radius: 0 0 34.72vw 0;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
}
