
.about-container{
    width: 58%;
    margin: auto;
 
}

.about-card{
    background-color: #FFFFFF1A;
    padding: 20px 55px 55px 55px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 50px;
}

.about-card:first-child{
    margin-top: 140px;
}

.about-card p{
    font-size: 19px;
    color: #E0E0E0;
}

.about-card p:nth-child(1){
    font-size: 32px;
    font-weight: 500;
}

.about-card p:nth-child(-n+3){
    margin-top: 30px;
}

.carousel-container{
    margin: auto;
    width: 80%;
}

.carousel-card {
    height: 286px;
    margin-bottom: 125px;
    background-color: #FFFFFF1A;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.carousel-card img {
    height: 251px;
    width: 446px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

}

.rec.rec-arrow {
    background: none !important;
    color: #5A7634;
    position: relative;
    font-size: 40px;
    /* padding: 0 -550px; */
}

.rec.rec-arrow-left {
    margin-left: -45px;
}

.rec.rec-arrow-right {
    margin-right: -45px;
}

.rec.rec-arrow:hover {
    background: none !important;
}

.rec-slider-container {
    margin: 1 !important;
}

.rec.rec-item-wrapper {
    width: 465px !important;
}

@media (min-width: 1366px) {

    
    .carousel-card {
        height: 223px;
        width: 1191px;
        margin-bottom: 98px;
        border-radius: 4px;
    }
    
    .carousel-card img {
        height: 196px;
        width: 348px;
    }
    
    .rec.rec-item-wrapper {
        width: 363px !important;
    }    
}

@media (min-width: 1920px) {

    .carousel-card {
        height: 286px;
        width: 1525px;
        margin-bottom: 125px;
        border-radius: 5px;
    }
    
    .carousel-card img {
        height: 251px;
        width: 446px;
    }
    
    .rec.rec-arrow-left {
        margin-left: -45px;
    }
    
    .rec.rec-arrow-right {
        margin-right: -45px;
    }
    
    .rec-slider-container {
        margin: 1 !important;
    }
    
    .rec.rec-item-wrapper {
        width: 465px !important;
    }
}