.RVphotos-container{
    margin-left: 525px;
    margin-right: 80px;
    width: 900px;
    top: 470px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-overflow{
    border-radius: 50%;
    height: 269px;
    width: 269px;
    overflow: hidden;
}

.RVphotos-container img{
    transition: transform .5s ease;
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.RVphotos-container img:hover{
    transform: scale(1.1);
  }

.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container p{
    color: white;
}

.img-subcontent{
    margin-top: 30px;
}

.RVphotos-container p:nth-child(3){
    margin-top: 2px;
}

/* @media (max-width: 1680px) {
    .RVphotos-container{
        margin-left: 525px;
        margin-right: 70px;
        width: 865px;
        top: 480px;
    }
    
    .img-overflow{
        height: 264px;
        width: 264px;
    }
    
    .img-subcontent{
        margin-top: 25px;
    }
    
    .RVphotos-container p:nth-child(3){
        margin-top: 4px;
    }
}

@media (max-width: 1536px) {
    .RVphotos-container{
        margin-left: 480px;
        margin-right: 64px;
        width: 791px;
        top: 439px;
    }
    
    .img-overflow{
        height: 241px;
        width: 241px;
    }
    
    .img-subcontent{
        margin-top: 23px;
    }
    
    .RVphotos-container p:nth-child(3){
        margin-top: 4px;
    }
}

@media (max-width: 1440px) {
    .RVphotos-container{
        margin-left: 450px;
        margin-right: 60px;
        width: 742px;
        top: 412px;
    }
    
    .img-overflow{
        height: 226px;
        width: 226px;
    }
    
    .img-subcontent{
        margin-top: 22px;
    }
    
    .RVphotos-container p:nth-child(3){
        margin-top: 4px;
    }
} */


@media (min-width: 1366px) {
    .RVphotos-container{
        margin-left: 410px;
        margin-right: 63px;
        width: 685px;
        top: 367px;
    }
    .img-overflow{
        height: 210px;
        width: 210px;
    }
    
    .img-subcontent{
        margin-top: 23px;
    }
    
    .RVphotos-container p:nth-child(3){
        margin-top: 1px;
    }
}

@media (min-width: 1920px) {
    .RVphotos-container{
        margin-left: 525px;
        margin-right: 80px;
        width: 900px;
        top: 470px;
    }
    .img-overflow{
        height: 269px;
        width: 269px;
    }
    
    .img-subcontent{
        margin-top: 30px;
    }
    
    .RVphotos-container p:nth-child(3){
        margin-top: 2px;
    }
}


